# Server 环境变量配置

# 服务端口
PORT=3000

# GLM API 配置
GLM_API_KEY=84b7a3cb618c41e1a73636134bd1d320.IHzgBza8K9zNuoHc
GLM_BASE_URL=https://open.bigmodel.cn/api/paas/v4
GLM_MODEL=glm-4v-flash

# 上传配置
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760

# 是否启用开发模式
NODE_ENV=development
